body {
  position: relative;
}
#scroll-fix {overflow:hidden;position: relative;}
#scroll-fix ::-webkit-scrollbar {display:none;}
.nav-link {text-align:center;font-size: 16px;font-weight: 300;}
.item-content {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  padding-right:15px;
  max-width: 100%;
}
#scrolling h2.why {font-size: 50px;line-height: 50px;position: absolute;bottom: 85%;top: 15%;left: 15%;display: inline-table;}
#scrolling h2.why span {font-style:italic;}
#fake-scroll {
    position: absolute;
    top: 88px;
    bottom: 0;
    right: 0px;
    width: 100%;
    z-index: 0;
    height: 100vh;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#fake-scroll h2 {font-weight:500; margin-bottom:30px}
#fake-scroll h2 span {font-style:italic;background: #062c29;color: #dff4e8;padding: 0px 12px;transition: 0.5s;}
#fake-scroll div{opacity:0;transition:1s;position: absolute;width: 80%;padding-right: 40%;/* margin-top: 115px; */}
#fake-scroll div.active{opacity:1;animation-delay:2s;transition:1s;}
#fake-scroll div#logo {opacity:1;width: 35%;padding-right: 5%;z-index: 0;position: relative;}
#fake-scroll div#logo img {max-width:100%}
.item-content div {
    scroll-snap-align: start;
    height: 70vh;
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}
.nav-pills .nav-link.fakeactive {
  background-color: #ffffff;
  color: #072c29;
  font-weight:800;
  }
/* set opacity for fades */
.item-content div {visibility: hidden;transition:2s;}
.item-content div.active {opacity:1; transition:2s;}
.container {display: flex;height: 100vh;min-height: 550px;align-items: center;max-width: 100%;padding-left: 0%;position: relative;z-index: 3;/* overflow: hidden; */}

div#scrolling {padding-top: 88px;}
#scrollblocker{position:absolute;top:0px;left:0px;right:0px;bottom:0px;background: transparent;z-index: 26;display: none;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: #ffffff;font-weight: 800;color: #072c29;}
.nav-pills .nav-link {color: #728f88;font-size: 22px;}
.nav-centre {
  align-items: center;
  position: relative;
  z-index:25;
  display: flex;
  justify-content: flex-end;
}
.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  z-index:20;
}

.arrow--right {
  left: auto;
  right: 5px;
  z-index:20;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}