.shadow-effect {
    background: #fff !important !important;
    padding: 20px !important !important;
    border-radius: 4px !important !important;
    text-align: center !important;
border:1px solid #ECECEC !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02) !important;
}
#customers-testimonials .shadow-effect p {
    font-family: inherit !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    margin: 0 0 17px 0 !important;
    font-weight: 300 !important;
}
.testimonial-name {
    margin: -17px auto 0 !important;
    display: table !important;
    width: auto !important;
    background: #3190E7 !important;
    padding: 9px 35px !important;
    border-radius: 12px !important;
    text-align: center !important;
    color: #fff !important;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05) !important;
}
#customers-testimonials .item {
    text-align: center !important;
    padding: 50px !important;
        margin-bottom:80px !important;
    opacity: .2 !important;
    -webkit-transform: scale3d(0.8, 0.8, 1) !important;
    transform: scale3d(0.8, 0.8, 1) !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1 !important;
    -webkit-transform: scale3d(1.0, 1.0, 1) !important;
    transform: scale3d(1.0, 1.0, 1) !important;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d !important;
    max-width: 90px !important;
    margin: 0 auto 17px !important;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #466c69 !important;
    transform: translate3d(0px, -50%, 0px) scale(0.7) !important;
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block !important;
width: 100% !important;
text-align: center !important;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block !important;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #c7e5d4 !important;
    display: inline-block !important;
    height: 20px !important;
    margin: 0 2px 5px !important;
    transform: translate3d(0px, -50%, 0px) scale(0.3) !important;
    transform-origin: 50% 50% 0 !important;
    transition: all 250ms ease-out 0s !important;
    width: 20px !important;
}